spring:
  main:
    banner-mode: off
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
    database-platform: org.hibernate.dialect.PostgreSQL10Dialect
  data:
    mongodb:
      host: ${MONGO_HOST}
      port: ${MONGO_PORT:27017}
      username: ${MONGO_USER}
      password: dddggg44422
      database: FFF5555DDD
      authentication-database: ${MONGO_DATABASE_AUTH}
      auto-index-creation: true

